<div class="row">
  <div class="span10 offset2">

    <h3>Christopher Meiklejohn</h3>

    <h5>Bio</h5>
  
    <p>
    Software engineer at Swipely in Providence; Boston native; Rubygems.org maintainer, Drip.io co-founder, Overriak founder. 
    </p>

    <h5>Projects</h5>

    <p>
    Most of my active projects can be found on my <a href="http://github.com/cmeiklejohn">GitHub profile</a>, and my published gems, for the most part, can be found on my <a href="https://rubygems.org/profiles/cmeiklejohn">Rubygems profile</a>.
    </p>

    <h6><a href="http://drip.io">Drip.io</a></h6>

    <p>
    Continuous integration service for npm.
    </p>

    <h6><a href="http://github.com/cmeiklejohn/braces">Braces</a></h6>

    <p>
    Sinatra application template, with rspec, thin, shotgun, and more!
    </p>

    <h6><a href="http://github.com/cmeiklejohn/meiklejohn">Meiklejo.hn</a></h6>

    <p>
    Open-source, heroku hosted, application for anyone sharing my surname.
    </p>

    <h6>Gitometer <span class="label notice">In Development</a></h6>

    <p>
    Gauge your daily performance based your GitHub commits.  Currently in development.
    </p>

    <h6>Overriak <span class="label success">Private Beta</a></h6>

    <p>
    Performance monitoring for deployed Riak clusters.  Currently in private beta.
    </p>

    <h5>Contact</h5>
  
    <p>
    Find cmeiklejohn on irc.freenode.net or follow me on <a href="http://twitter.com/cmeik">Twitter.</a>
    </p>

  </div>
</div>
