<% content_for :title do %>Christopher Meiklejohn<% end %>

<h3>Christopher Meiklejohn</h3>

<h5>Bio</h5>

<p>
Software engineer at Swipely in Providence; Boston native; Rubygems.org maintainer, Drip.io co-founder, Overriak founder. 
</p>

<h5>Projects</h5>

<p>
Most of my active projects can be found on my <a href="http://github.com/cmeiklejohn">GitHub profile</a>, and my published gems, for the most part, can be found on my <a href="https://rubygems.org/profiles/cmeiklejohn">Rubygems profile</a>.
</p>

<h6><a href="http://drip.io">Drip.io</a></h6>

<p class="small-margin">
Continuous integration service for npm.
</p>

<h6><a href="http://github.com/cmeiklejohn/braces">Braces</a></h6>

<p class="small-margin">
Sinatra application template, with rspec, thin, shotgun, and more!
</p>

<h6><a href="http://github.com/cmeiklejohn/meiklejohn">Meiklejo.hn</a></h6>

<p class="small-margin">
Open-source, heroku hosted, application for anyone sharing my surname.
</p>

<h6><a href="http://github.com/cmeiklejohn/gitometer">Gitometer</a></h6>

<p class="small-margin">
Gauge your daily performance based your GitHub commits.
</p>

<h6>Overriak and Overriaktion <span class="label success">Private Beta</a></h6>

<p class="small-margin">
Performance monitoring for deployed Riak clusters.  Currently in private beta.
</p>

<h5>Contact</h5>

<p>
Find cmeiklejohn on irc.freenode.net or follow me on <a href="http://twitter.com/cmeik">Twitter.</a>
</p>
