<% content_for :title do %>meiklejo.hn<% end %>

<h3>Who we are:</h3>

<ul>
  <li>
    <a href="/christopher">Christopher Meiklejohn</a>
  </li>
</ul>

<h3>Are you a Meiklejohn?</h3>

<h5>Interested in a meiklejo.hn e-mail address?</h5>
<p>Contact <a href="mailto:christopher@meiklejo.hn">me</a> for more information.</p>

<h5>Want a section of this site to host your content on?</h5>
<p>Fork <a href="http://github.com/cmeiklejohn/meiklejohn">this</a> repository on GitHub, commit your changes in a topic branch, and send me a pull request!</p>
