<div class="row">
  <div class="span10 offset2">
    <h3>Meiklejohn's</h3>

    <ul class="unstyled">
      <li>
        <a href="/christopher">Christopher Meiklejohn</a>
      </li>
    </ul>

    <h3>Are you a Meiklejohn?</h3>

    <h5>Interested in a meiklejo.hn e-mail address?</h5>
    <p>Contact <a href="mailto:christopher.meiklejohn@gmail.com">me</a> for more information.</p>

    <h5>Want a section of this site to host your content on?</h5>
    <p>Fork <a href="http://github.com/cmeiklejohn/meiklejohn">this</a> repository on GitHub, commit your changes in a topic branch, and send me a pull request!</p>
  </div>
</div>
