<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_content(:title) %></title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <meta name="description" content="Community hosting for all Meiklejohn's.  Free homepage and meiklejo.hn e-mail addresses">
    <meta name="keywords" content="meiklejohn, christopher meiklejohn, github, community, hosting">
    <meta name="google-site-verification" content="Phd-bOIuoi2Uv-mRiKGJNEXpCidyfBO2284u0anI4zs" />
    <style type="text/css">
    html, body { 
      background-color: #eee;
    } 
    .container {
      width: 820px;
    }
    body {
      padding-top: 40px;
    }
    li.user-list { 
      font-weight: bold;
      font-size: 18px;
      margin: 10px 0 0 0;
    }
    h5 { 
      margin: 5px 0 0 0;
    }
    h6, .small-margin { 
      margin: 0 0 0 10px;
    }
    .content {
      background-color: #fff;
      padding: 20px;
      margin: 0 -20px;
      -webkit-border-radius: 6px 6px 6px 6px;
         -moz-border-radius: 6px 6px 6px 6px;
              border-radius: 6px 6px 6px 6px;
      -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.15);
              box-shadow: 0px 2px 2px rgba(0,0,0,.15);
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span10 offset2">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eacc775f5a1f569b8000003');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
